<div class="">
    {% for media in product.media %}
    {% case media.media_type %}
    {% when 'image' %}
    <img data-product-main-image src="{{ product.featured_image | image_url: width: 900 }}" alt="{{ product.title }}">

    <img src="{{ media | img_url:'medium'}}" alt="{{media.preview_image.alt}}"
        class="object-cover w-full h-full rounded-lg">
    {% when 'external_video' %}
    {{media | external_video_tag: class:'w-full h-60 object-cover'}}

    {% when 'video' %}
    {{media | video_tag: class:'w-full h-60 object-cover'}}

    {% when 'modal' %}
    {{media | model_viewer_tag}}

    {% else %}
    {{media | media_tag}}
    {% endcase %}
    {% endfor %}
</div>