<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  <title>
    {% if settings.favicon != blank %}
    <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {% endif %}

    {{ shop.name }}
  </title>
  {{ content_for_header }}

  {{ 'application.css' | asset_url | stylesheet_tag }}

</head>

<body>

  {% section 'header' %}

  <main>
    {{ content_for_layout }}
  </main>
  {% section 'footer' %}

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

</body>

</html>